<form method='post' class='w-2/5 mx-auto my-10'>
    <input type='text' name='text' value="{{ old('text') }}"><br>
    {% if invalid('text') %}
        {{ invalid('text') }}
    {% endif %}
    <br>
    <select name="options">
        <option value="a">a</option>
        <option value="b">b</option>
        <option value="c">c</option>
    </select>
    {% if invalid('options') %}
        {{ invalid('options') }}
    {% endif %}
    <br>
    <br>
    <input type='submit' value='Send'>
</form>