<form method='post' enctype="multipart/form-data" >
    <label for="text">Text</label>
    <input type='text' name='text' id="text" value="{{ old('text') }}"><br>
    {% if hasError('text') %}
        {{ getError('text') }}
    {% endif %}
    <br>
    <input type="file" name="file">
    {% if hasError('file') %}
        {{ getError('file') }}
    {% endif %}
    <br>
    <input type='submit' value='Send'>
</form>